@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Indie Flower", cursive;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#game {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid lightgray;
  background-image: url("subway.jpg");
  background-repeat: repeat-x;
}
.subway-animation {
  animation: slideleft 3000s infinite linear;
}
#character {
  height: 80px;
  transform: rotateY(180deg);
  position: relative;
  top: 120px;
  left: 40%;
  /* animation: character-move 4s; */
  animation-timing-function: linear;
  display: none;
}

#block {
  width: 40px;
  object-fit: contain;
  position: relative;
  top: 75px;
  left: 480px;
  z-index: -1;
}
#block1 {
  width: 40px;
  object-fit: contain;
  position: relative;
  top: 75px;
  left: 480px;
  z-index: -1;
}
.scores {
  margin-top: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.current-score {
}
.high-score {
}

.animate-block {
  animation: rotate 2s infinite, block 8s infinite;
  animation-timing-function: linear;
}
.animate-block1 {
  animation: rotate 2s infinite, block 8s infinite;
  animation-timing-function: linear;
  animation-delay: 4s;
}

.animate {
  animation: jump 2s linear;
}

@keyframes block {
  0% {
    left: 100%;
  }
  100% {
    left: -50px;
  }
}

@keyframes jump {
  0% {
    top: 120px;
  }
  30% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  80% {
    top: 0px;
  }
  100% {
    top: 120px;
  }
}

@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
}

@keyframes character-move {
  0% {
    left: 0px;
  }
  100% {
    left: 40%;
  }
}

@keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: -90000%;
  }
}
